.img-layout {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgs-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  flex: 1;
  display: flex;
  position: relative;
  border: 1px solid white;
  transition: .3s ease;
  box-shadow: 0 0 2rem 2rem black;
}

.img-container .img {
  width: 100%;
  object-fit: cover;
}

.img-container.hovered {
  flex: 12;
}

/* Opacity of shrinked images */
.img-container.shrink::after {
  opacity: 1;
}

/* Opacity when no images are hovered */
.img-container:not(.hovered):not(.shrink)::after {
  opacity: 1;
}

/* Credit box */
.credit-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: absolute;
  bottom: 4px;
  left: 4px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  background: rgb(0, 0, 0);
  padding: 1rem;
  margin: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

/* Fade in text */
.img-container.hovered .credit-container {
  max-height: 375px;
  opacity: 0.75;
  transition-delay: 0.1s;
}

/* Instant fade out of text on non-hovered images */
.img-container:not(.hovered) .credit-container {
  max-height: 0px;
  opacity: 0;
  transition-delay: 0s;
}

.credit-textbox .credit {
  font-size: 15px;
  font-style: italic;
  color: #d5d5d5;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.234);
  padding: 0.2rem 0.5rem;
}

/* source */
.credit-textbox a {
  text-decoration: none;
  position: relative;
  color: white;
}

/* Line deco for credit. */
.credit-textbox a::before ,
.credit-textbox a:hover::before{
  content: "";
  position: absolute;
  background: white;
  top: 0px;
  left: 0;
  width: 0%;
  height: 2px;
  transition: all 1.6s ease;
}
/* No width deco. */
.credit-textbox a::before {
  width: 0%;
  transition: all 1.2s ease-in;
}

/* Expand width on hover */
.credit-textbox a:hover::before{
  width: 100%;
  transition: all 0.3s ease-in;
}

/* RESPONSIVE */
@media only screen and (max-width: 485px) {
  .img-container {
    box-shadow: 0 0 .5rem .5rem black;
  }

  .credit-container {
    font-size: 14px;
    margin: 0;
    padding: 0.5rem;
  }
}