.iss-section {
  height: 100vh;
  position: relative;
  width: 100%;
  z-index: 1;
}

.iss-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); 
  z-index: -1; 
}

.iss-content-section {
  display: flex;
  height: 100%;
  width: 100%;
}


.para-container {
  background: blue;
  height: 100%;
  width: 50%;
}

.image-container {
  background: red;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
