.parlist-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.parlist-container {
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.parlist-par-container {
  display: flex;
  gap: 2rem;
}

.parlist-par-heading {
  padding: 2rem 0;
  border-top: 1px solid white;
  line-height: 1;
  color: rgb(255, 255, 255);
  font-size: 35px;
  text-transform: uppercase;
  transition: 1s ease;
}

.parlist-par {
  font-size: 17px;
  line-height: 1.3;
  text-justify: auto;
  color: white;
}


.parlist-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  list-style: none;
  font-size: 16px;
  line-height: 1.3;
  padding-bottom: 2rem;
  color: rgb(170, 170, 170);
}

.parlist-list-item {
  flex-basis: 50%;
  flex-grow: 1; 
  max-width: calc(50% - 1rem);
}


/* RESPONSIVE */
@media only screen and (max-width: 485px) {
  .parlist-par-container {
    display: flex;
    flex-direction: column;    
  }

  .parlist-par-heading {
    padding: 2rem 0 0 0;
    font-size: 30px;
  }

  .parlist-par {
    font-size: 16px;
  }
  .parlist-list {
    font-size: 15px;
  }

}
