.starship {
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 4rem;
}

/* RESPONSIVE */
@media only screen and (max-width: 900px) {
  .starship {
    flex-wrap: wrap;
    padding-top: 6rem;
    gap: 0;
  }
}

